<form action="/answer" class="text-center">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="How are you?">
  <input type="submit" value="Go on!">
</form>
